
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Panel Administracyjny</h1>
<p>Zarządzanie wypożyczalnią samochodów "Rent a Car"</p>
<div id="box">
    <div class="box-top">Wiadomości</div>
    <div class="box-panel">
        Treść newsów itp...
    </div>
</div>

<div id="box">
    <div class="box-top">Wiadomości</div>
    <div class="box-panel">
        Treść newsów itp...
    </div>
</div>

<div id="box">
    <div class="box-top">Wiadomości</div>
    <div class="box-panel">
        Treść newsów itp...
    </div>
</div>